<%- include("partials/header"); -%>

<div class="text-center postimg">
    <img src="http://res.cloudinary.com/dpuzwl8pf/image/upload/v1687703081/<%=cloud_id%>.jpg" alt="">
</div>
<div class="container">
    <h1><%= postTitle %></h1>
    <p style="white-space: pre-line;"><%= postBody %></p>
</div>
<hr>
<div class="container"><h1>Comments</h1></div>

<div class="container">
 <%   for(let i=comments.length-1;i>=0;i--){  %>
        <div class="card" style="margin-bottom:10px;">
            <div class="card-body">
              <p style="margin-bottom:0;white-space: pre-line;"><i class="bi bi-person"></i><%=comments[i].name%></p>
          <%      if(String(userID) === comments[i].userid){    %>
                    <p style="white-space: pre-line;"><%=comments[i].comment%><a href="deleteComment/<%=id%>/<%=comments[i]._id%>"><i class="bi bi-file-minus" style="float: right;font-size: 25px;color:#fff;position: relative;bottom:8px;"></i></a></p>
          <%      }else{      %>
                    <p style="white-space: pre-line;"><%=comments[i].comment%></p>
          <%      }   %>
            </div>
        </div>
  <%  } %>

  <form action="/comment" method="post" class="commentForm">
    <input name="Usercomment" class="form-control cardComment" placeholder="Add Comment" autocomplete="off" style="margin-left:12%;">
    <input name="id" value="<%=id%>" type="hidden">
    <button type="submit" class="btn searchButton btn-outline-info composebtn commentBtn">Add</button>
  </form>
</div>

<%- include("partials/footer"); -%>
