<%- include("partials/header"); -%>

<div class="text-center postimg">
    <img src="/images/<%= postImage %>" alt="">
</div>
<h1><%= postTitle %></h1>
<p><%= postBody %></p>

<%- include("partials/footer"); -%>